<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="ceylon.bootstrap" slot="1.2.1">
    <resources>
        <resource-root path="ceylon.bootstrap-1.2.1.jar"/>
    </resources>

    <main-class name="com.redhat.ceylon.bootstrap.Main"/>

    <dependencies>
        <module name="ceylon.runtime" slot="1.2.1"/>
    </dependencies>
</module>
